@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 5rem;
}

.title {
    text-align: center;
}

div.header img {
    max-width: 18%;
    min-width: 200px;
}

div.footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}